{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/bootstrap.js') }}"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/request_password_reset.css') }}"> 

        <title>Reset Your Password</title>
        
    </head>  

    <body>

    <nav class="navbar navbar-transparent navbar-fixed-top">
      <div class="container">  
                <div align="center">
                    <ul class="nav navbar-nav navbar-center">
		                <li class="active"><a href="Home"><i class="glyphicon glyphicon-home"></i> </a></li>
		                <li><a><i class="glyphicon glyphicon-map-marker"></i> </a>
			                <ul>
		                    	<li class="text-center"><a>Find Us</a></li>
		                    </ul>
                        </li>
                        <li><a><i class="glyphicon glyphicon-phone"></i> </a>
                            <ul>
                              <li class="text-center"><a>Reach Us</a></li>
                            </ul>
                      	</li>
                        <li><a><i class="glyphicon glyphicon-user"></i> </a>
                            <ul>
                              <li class="text-center"><a href="login" target=_"blank">Log-In</a></li>
                              <li class="text-center"><a href="signup">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div><!-- /.container-fluid -->
    </nav>
    
        
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Reset Your Password</h1>
                        </div>

                    </div>

                    <hr>

                    <form method="POST" action="/request_password_reset">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.email) }}

                        <input type="submit" class="btn btn-info" name="" value="Submit">             

                    </form>
                </div>

                <div class="col-md-7">
                    <h3>Instructions</h3>
                    <p>
                        <ol>
                            <li>Make sure the email address you entered is registered</li>
                            <li>If not, you can <a href="signup">register here</a> for a free account</li>
                            <li>A verification link will be sent to the designated email address</li>
                            <li>Click the link sent to you</li>
                            <li>Input your new password and submit</li>
                        </ol>
                    </p>
                </div>

            </div>
        </div>
    </body>
</html>
